<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Lista dei proprietari</title>
</head>
<body>

    <h1 th:text="'Lista dei proprietari '">Lista proprietari</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;">ID</th>
            <th style="width: 150px;">NOME</th>
            <th style="width: 150px;">COGNOME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proprietario : ${proprietari}">
            <td th:text="${proprietario.id}"></td>
            <td th:text="${proprietario.nome}"></td>
            <td th:text="${proprietario.cognome}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>